    <div id="messages" class="col-md-12 panel panel-body" data-username={{user.username}}></div>
    <div class="composing-area">
    <input id="composing-box">
    </div>
    <div class="panel-footer">
    <button id="post-button">Post</button></div>
    <script>
        var socket = io();
        $(function () {
            var $composingBox = $('#composing-box');
            var $user = $('#messages').data('username');

            $('#post-button').on('click', function () {
                postMessage();
            })
            $composingBox.keypress(function(e) {
                if(e.which == 13) { //Pressed enter
                    postMessage();
                }
            })
            
            socket.on('loadOldMessages', function(docs) {
                docs.forEach(displayMessages);
            });
            
            socket.on('addMessage', function(data) {
                displayMessages(data);
            });
            
            function displayMessages (data) {
                $('#messages').append($('<div>').addClass('chat-body clearfix message')
                .append($('<div>').addClass('')
                    .append($('<strong>').addClass('primary-font').text(data.username))
                    .append($('<small>').addClass('pull-right text-muted').text(data.timeStamp)))
                .append($('<p>').text(data.message)));
            }
            
            function postMessage() {
                var message = $composingBox.val().trim();
                if(!message) {
                    return false;
                }
                socket.emit('postMessageToServer', {username: $user, message: message});
                $composingBox.val('').focus();
                return false;
            }
            
        });
    </script>
