<div class="jumbotron">
        <h1 class="text-center">Welcome to the FSE Chat Room</h1>
        <p class="lead text-justified">If this is your first visit, <a href="/users/register">register</a> and log in to the app. If you're a returning user, <a href="/users/login">login</a> and get straight to chatting!.</p>
        <div class="row">
            <div class="col-lg-6 pull-left">
            <p><a class="btn btn-lg btn-success" href="/users/register" role="button">Register</a></p>
            </div>
            <div class="col-lg-6 pull-right">
            <p><a class="btn btn-lg btn-success col-md-6" href="/users/login" role="button">Login</a></p>
            </div>
        </div>
      </div>
